.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  background-color: white;
}

.nbWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.userInfor {
  display: flex;
  align-items: center;
}

.nbItem {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
